<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialSkin" version="0.2.1" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net452" />
  <package id="OxyPlot.WindowsForms" version="1.0.0" targetFramework="net452" />
  <package id="Polaris.Common" version="1.0.37291.45298" targetFramework="net452" />
  <package id="Polaris.Ui" version="1.0.32872.5337" targetFramework="net452" />
</packages>